* {
    box-sizing: border-box;
}

body{
    background-image: url("../img/positive.png");
}
.navbar{
    background-color: #b0dcd6!important;
    border: black 4px solid;
}
.dropdown-menu{
    border: black 4px solid;
    background-image: url("../img/positive.png");
}
.buttonDesign{
    background-color: #e8b0ae;
    border: black 4px solid;
    font-family: 'Press Start 2P', cursive;
    color: black;
}

.selectMenu, .form-group{
    border: black 4px solid;
}
.movieCards{
    border: black 4px solid;
    background-color: white;
}
.movieOpen{
    border: black 4px solid;

}
.movieModal{
    border: black 4px solid;

}
.card-header, .card-footer {
    border: black 4px solid;
}
.card-body{
    border: black 4px solid;
    background-color: #f6ba43;
}
.app-title{
    background-color: #e8b0ae;
}
.movieList{
    font-family: 'Press Start 2P', cursive;
    color: black;
    font-size: 16px;
    /*display: flex;*/
    /*justify-content: center;*/
}
.movieList:hover{
    color: #9979b7;
    text-decoration: none;
}
.movieList:active{
    border: none;
    text-decoration: none;
}
.movieInfo{
    font-family: 'Roboto Mono', monospace;}


body {
    width: 100%;
    height: 100vh;
    background-color: darkslategray;
}

#accordionMovies {
    display: none;
}

#loading {
    position: absolute;
    top: 30%;
    left: 10%;
}

#loading path:nth-child(1) {
    stroke-dasharray: 365px;
    stroke-dashoffset: 365px;
    animation: line-animation 2s ease forwards infinite;
}

#loading path:nth-child(2) {
    stroke-dasharray: 586px;
    stroke-dashoffset: 586px;
    animation: line-animation 2s ease forwards infinite;
}

#loading path:nth-child(3) {
    stroke-dasharray: 550px;
    stroke-dashoffset: 550px;
    animation: line-animation 2s ease forwards infinite;
}

#loading path:nth-child(4) {
    stroke-dasharray: 602px;
    stroke-dashoffset: 602px;
    animation: line-animation 2s ease forwards infinite;
}

#loading path:nth-child(5) {
    stroke-dasharray: 257px;
    stroke-dashoffset: 257px;
    animation: line-animation 2s ease forwards infinite;

}

#loading path:nth-child(6) {
    stroke-dasharray: 673px;
    stroke-dashoffset: 673px;
    animation: line-animation 2s ease forwards infinite;
}

#loading path:nth-child(7) {
    stroke-dasharray: 631px;
    stroke-dashoffset: 631px;
    animation: line-animation 2s ease forwards infinite;
}

@keyframes line-animation {
    to {
        stroke-dashoffset: 0;
    }
}

