.app-title {
    /*font-family: 'Lato', sans-serif;*/
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
    font-family: 'Roboto Mono', monospace;

}

ul {
    padding: 0;
    text-align: left;
    list-style: none;
}

#todo-list-item {
    padding-left: 5px;
}

.fa-trash-alt {
    padding-left: 10px;
}


.btn {
    margin-top: 10px;
    width: 100%;
}

.empty-state {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}


.empty-state__title, .empty-state__description {
    margin-bottom: 20px;
}

#list-items:empty {
    display: none;
}

#list-items:empty + .empty-state {
    display: flex;
}

.fa-film {
    margin-bottom: 20px;
}